body {
	margin: 0;
	padding: 0;
	font-family: "Jost", sans-serif;
}
* {
	box-sizing: border-box;
}
.set-container-fluid {
	width: 100%;
}
.set-container-1440 {
	max-width: 1440px;
	width: 92%;
	margin: 0 auto;
}
.set-container-1188 {
	max-width: 1188px;
	width: 92%;
	margin: 0 auto;
}
.f-96-w {
	font-family: "Jost", sans-serif;
	font-size: 56px;
	font-weight: 200;
	margin: 0;
	color: rgba(245, 245, 245, 1);
	text-transform: uppercase;
}
.f-96-wb {
	font-family: "Jost", sans-serif;
	font-size: 56px;
	font-weight: 600;
	margin: 0;
	color: rgba(245, 245, 245, 1);
	text-transform: uppercase;
}
.f-48-w {
	font-family: "Jost", sans-serif;
  font-size: 30px;
  font-weight: 200;
  line-height: 38px;
  margin: 0;
  color: rgba(245, 245, 245, 1);
}
.f-48-p {
	font-family: "Jost", sans-serif;
	font-size: 48px;
	font-weight: 300;
	line-height: 52px;
	margin: 0;
	color: #7C5644;
	text-transform: uppercase;
}
.f-16-g {
	font-family: "Jost", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
}

.f-32-b {
	font-family: "Jost", sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
	color: rgba(0, 0, 0, 1);
}

.f-40-p {
	font-family: "Jost", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}
.f-20-p {
	font-family: "Jost", sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
	color: rgba(0, 0, 0, 1);
}
.f-15-p {
	color: #7C5644;
	font-family: "Jost", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;

}
.set-d-flex {
	display: flex;
}
.set-align-items-center {
	align-items: center;
}
.set-justify-content-center {
	justify-content: center;
}
.set-justify-content-between {
	justify-content: space-between;
}
.set-text-align-center {
	text-align: center;
}
.set-text-align-left {
	text-align: left;
}
.set-mt-80 {
	margin-top: 100px;
}
.set-mt-70 {
	margin-top: 70px;
}
.set-mt-25 {
	margin-top: 25px;
}
.set-m-0 {
	margin: 0;
}
.set-mt-0 {
	margin-top: 0;
}
.set-w-100 {
	width: 100%;
	border-radius: 12px;
}
.set-gap-4 {
	gap: 16px;
}
.logo {
  color:black;
  display:inline-block;
}
.header {
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: absolute;
	width: 100%;
	z-index: 3;
}
.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	color: #000;
	font-weight: 600;
	border-radius: 6px;
}
.header li a:hover,
.header .menu-btn:hover {
	background-color: #7C5644;
	color: #000;
}
.logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 5px;
	text-decoration: none;
}
.logo img {
	border-radius: 5px;
}
.active {
	background-color: #7C5644;
}
.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}
.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 48px 20px;
	position: relative;
	user-select: none;
}
.header .menu-icon .navicon {
	background: #fff;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #fff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}
.header .menu-icon .navicon:before {
	top: 5px;
}
.header .menu-icon .navicon:after {
	top: -5px;
}
.header .menu-btn {
	display: none;
}
.header .menu-btn:checked ~ .menu {
	max-height: 278px;
	background-color: #fff;
    border-radius: 8px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

.bg-darkpink {
	background: linear-gradient(to bottom, rgb(0 0 0 / 68%) 0%, rgb(0 0 0) 59%, rgb(0 0 0 / 76%) 100%), url(../Media/img-6.jpg) no-repeat;
	background-size: cover;
	min-height: 90vh;
	display: flex;
	align-items: center;
	background-position: center;
	text-align: center;
}
.set-logo-height-82 {
	height: 82px;
}
.set-height-122 {
	height: 122px;
}
.left-image-area {
	width: 35%;
	flex-shrink: 0;
	text-align: center;
}
.set-bg-services {
	background: linear-gradient(to bottom, rgb(0 0 0 / 68%) 0%, rgb(0 0 0) 59%, rgb(0 0 0 / 76%) 100%), url(../Media/img-5.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 95px 0px;
}
.light-bg-card {
	background-color: rgb(241 241 241);
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
	min-height: 396px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 32px;
	padding-right: 32px;
	width: 33.3%;
	border-radius: 12px;
}
.bg-darkpink-card {
	background-color: #7C5644;
	margin-top: -18px;
    margin-bottom: -18px;
}
.text-white {
	color: rgba(245, 245, 245, 1);
}
.fw-bold {
	font-weight: bold;
}
.set-table-main th, .set-table-main td {
	padding: 12px;
}
.set-table-main th {
	background-color: #7C5644;
	color: rgba(245, 245, 245, 1);
	border-radius: 8px;
}
.set-bg-black {
	background-color: rgba(0, 0, 0, 1) !important;
}
.set-table-main td:nth-child(even) {
	background-color: rgb(241 241 241);
	border-radius: 8px;
}
.set-table-main td:nth-child(odd) {
	background-color: #7c56441f;
	border-radius: 8px;
}
.set-table-main td a {
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
}
.set-box-left-right {
	display: flex;
	gap: 22px;
	background-color: rgb(241 241 241);
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	border-radius: 12px;
	overflow: hidden;
}
.set-img-left {
	width: 45%;
	flex-shrink: 0;
}
.set-img-left img {
	max-width: 100%;
}
.set-text-sec {
	padding: 5%;
}
.set-text-sec p {
	font-size: 18px;
}
.set-text-sec a {
	color: #7C5644;
	display: block;
	margin-bottom: 12px;
}
.set-mb-0 {
	margin-bottom: 0;
}
.set-mt-0 {
	margin-top: 0;
}
.set-bg-footer {
	background: linear-gradient(to bottom, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 30%) 59%, rgb(0 0 0 / 52%) 100%), url(../Media/bg-accessability.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 42px 0px;
}
.set-flex-footer {
	display: flex;
	justify-content: space-around;
}
.set-footer-list {
	list-style-type: circle;
	font-size: 18px;
	color: rgba(245, 245, 245, 1);
	text-align: left;
}
.set-footer-list li {
	margin-top: 12px;
}
.set-footer-list li strong {
	color: rgba(245, 245, 245, 1);
	font-size: 22px;
}
.set-footer-list li a {
	color: rgba(245, 245, 245, 1);
	text-decoration: none;
	font-size: 15px;
	text-decoration: underline;
	transition: .3s;
}
.set-footer-list li a:hover {
	transition: .3s;
	color: #7C5644;
}
.set-footer-list li a i {
	font-size: 28px;
}
html {
	scroll-behavior: smooth;
}
@media only screen and (max-width: 992px) {
	.main-card-area {
		flex-direction: column;
	}
	.light-bg-card {
		width: 82%;
		margin: 12px auto;
	}
	.f-96-w {
		font-size: 35px;
		line-height: 42px;
	}
	.f-96-pb {
		font-size: 35px;
		line-height: 42px;
	}
	.f-96-wb {
		font-size: 35px;
		line-height: 42px;
	}
	.f-48-w {
		font-size: 28px;
		line-height: 32px;
	}
	.main-left-right {
		flex-direction: column;
	}
	.left-image-area {
		width: 100%;
	}
	.set-box-left-right {
		flex-direction: column;
	}
	.set-img-left {
		width: 100%;
	}
	.set-overflow-scroll {
		overflow-x: scroll;
	}
	.set-flex-footer {
		flex-direction: column;
	}
	.f-40-p {
		font-size: 28px;
		line-height: 30px;
	}
	.set-text-sec p {
	    font-size: 15px;
	}
}
@media (min-width: 991px) {
	.header li {
		float: left;
	}
	.header li a {
		padding: 15px 14px;
		color: #fff;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
		padding-top: 18px;
	}
	.header .menu-icon {
		display: none;
	}
	.set-order-2 {
		order: 2;
	}
	.set-order-1 {
		order: 1;
	}
}
@media only screen and (max-width: 768px) {
  .f-48-w {
    font-size: 22px;
  }
}
@media only screen and (max-width: 576px) {
  .f-48-w {
    font-size: 18px;
    line-height: 26px;
  }
}